.hidePage {
    background-color: #005691;
    position: fixed;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.flexDiv {
    margin-top: 40px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.inputDiv {
    width: 90vw;
    max-width: 500px;
    height: 600px;
    border-radius: 20px;
    /* border-style: solid;
    border-width: 2px;
    border-color: gray; */
    text-align: center;
    background-color: #fafafa;
}

#about {
    margin-right: 80px;
}

.attatchment {
    margin-top: 40px;
    font-size: 15px;
    font-family: 'Belgrano', serif;
    /* border-radius: 30px;
    border-width: 0.2px;
    border-style: solid;
    border-color: lightblue; */
}

.title {
    font-family: Fredoka One, cursive;
    font-size: 30px;
    margin-right: 840px;
    margin-top: 30px;
    color: #e8f1f5;
}

.title:hover {
    cursor: pointer;
}

.attatchment:hover {
    color: blue;
    cursor: pointer;
}

.priceTitle {
    font-size: 20px;
    font-family: 'Belgrano', serif;
    margin-top: 20px;
    margin-bottom: 50px;
}

.nextIcon {
    width: 10px;
    height: 10px;
    margin-top: 2px;
    margin-left: 10px;
}

.nextButton {
    width: 140px;
    height: 45px;
    border-radius: 30px;
    border-width: 1px;
    border-style: solid;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 330px;
    float: right;
    margin-right: 10px;
    padding-bottom: 0;
}

.nextButton:hover {
    border-color: blue;
    color: blue;
    cursor: pointer;
}

.nextButton:hover .nextIcon{
    margin-left: 15px;
}

.nextButton:active {
    box-shadow: none;
}

.homeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    position: fixed;
    right: 70px;
    top: 25px;
    border-radius: 2px;
    background-color: #3f72af;
}

.homeButton:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}
.homeButton:active {
    width: 25px;
    height: 25px;
    top: 20px;
}
