
.buttons {
    position: fixed;
    right: 20px;
}

.hideSomething {
    width: 45px;
    height: 45px;
    position: fixed;
    right: 20px;
    top: 30px;
    border-radius: 2px;
    background-color: black;
}

.findSomething {
    width: 45px;
    height: 45px;
    position: fixed;
    right: 20px;
    top: 80px;
    border-radius: 2px;
    margin-top: 10px;
    background-color: blue;
}

.hideSomething:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.findSomething:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.hideSomething:active {
    width: 25px;
    height: 25px;
    top: 30px;
}

.findSomething:active {
    width: 25px;
    height: 25px;
    top: 80px;
}

/* .buttons:hover {
    cursor: pointer;
} */